## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
simple_list_1 = random.sample(range(100), k=80)
print(simple_list_1)

[0, 71, 80, 8, 77, 25, 69, 73, 96, 28, 12, 18, 36, 75, 31, 70, 17, 97, 19, 82, 21, 81, 95, 10, 83, 2, 68, 7, 65, 32, 79, 86, 85, 37, 48, 20, 9, 51, 50, 62, 1, 11, 42, 94, 87, 52, 89, 23, 61, 40, 98, 99, 4, 57, 22, 66, 15, 35, 3, 33, 72, 16, 30, 39, 67, 60, 64, 74, 88, 24, 43, 54, 27, 44, 92, 84, 63, 26, 78, 41]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(simple_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = [random.choice(range(80)) for i in range(100)]
print(sample_list_2)

[56, 42, 66, 68, 21, 7, 60, 16, 79, 35, 62, 16, 55, 54, 40, 59, 15, 59, 57, 49, 28, 29, 79, 13, 54, 27, 42, 56, 74, 41, 54, 56, 42, 20, 3, 13, 74, 43, 43, 46, 25, 69, 76, 7, 23, 16, 53, 31, 50, 26, 39, 5, 73, 68, 10, 35, 58, 37, 60, 13, 48, 3, 58, 34, 70, 61, 15, 27, 32, 73, 6, 70, 13, 2, 66, 10, 44, 62, 74, 9, 60, 1, 13, 26, 7, 79, 68, 42, 7, 60, 37, 5, 30, 5, 8, 4, 32, 53, 36, 34]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 15, 16, 20, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 66, 68, 69, 70, 73, 74, 76, 79}
56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set()

for i in set1:
    if i in set1 and i not in set2:
        set3.add(i)
        
print(set3)

{0, 11, 12, 17, 18, 19, 22, 24, 33, 51, 52, 63, 64, 65, 67, 71, 72, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set()

for i in set2:
    if i in set2 and i not in set1:
        set4.add(i)
        
print(set4)

{34, 5, 6, 76, 13, 46, 49, 53, 55, 56, 58, 59, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set()

for i in set1:
    if i in set1 and i in set2:
        set5.add(i)
        
print(set5)

{1, 2, 3, 4, 7, 8, 9, 10, 15, 16, 20, 21, 23, 25, 26, 27, 28, 30, 31, 32, 35, 36, 37, 39, 40, 41, 42, 43, 44, 48, 50, 54, 57, 60, 61, 62, 66, 68, 69, 70, 73, 74, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print("Some relantionship between our sets are:")
print()
#set1-set3 = set5
print(f'"If we rest len(set1) = {len(set1)} to len(set3) = {len(set3)}, is equal to {len(set1)-len(set3)}, the same as len(set5) = {len(set5)}"')
print()

#set2-set4 = set5
print(f'"In the same way that if we rest len(set2) = {len(set2)} to len(set4) = {len(set4)}, is equal to {len(set2)-len(set4)}, the same as len(set5) = {len(set5)}"')
print()

#set1-set5=set3
print(f'"Also we can rest len(set1) = {len(set1)} to len(set5) = {len(set5)}, is equal to {len(set1)-len(set5)}, and is the the same as len(set3) = {len(set3)}"')
print()

# Set3 + set4 + set5 = set1 + set4
print(f'"Also we can see that (len(set3) = {len(set3)}) + (len(set4) = {len(set4)}) + (len(set5) = {len(set5)}), is equal to {len(set3)+len(set4)+len(set5)}, and is the the same as len(set1) = {len(set1)} + len(set4) = {len(set4)}"')

Some relantionship between our sets are:

"If we rest len(set1) = 80 to len(set3) = 37, is equal to 43, the same as len(set5) = 43"

"In the same way that if we rest len(set2) = 56 to len(set4) = 13, is equal to 43, the same as len(set5) = 43"

"Also we can rest len(set1) = 80 to len(set5) = 43, is equal to 37, and is the the same as len(set3) = 37"

"Also we can see that (len(set3) = 37) + (len(set4) = 13) + (len(set5) = 43), is equal to 93, and is the the same as len(set1) = 80 + len(set4) = 13"

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [12]:
print(set6)
print(set1)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 48, 50, 51, 52, 54, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 48, 50, 51, 52, 54, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
print(set3.union(set4, set5))
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print('We have remove:', set1.pop())
print(set1)

We have remove: 0
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 48, 50, 51, 52, 54, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)


print(set1)

{2, 3, 4, 7, 8, 10, 12, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 40, 42, 43, 44, 48, 50, 52, 54, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 97, 98}